// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/*首页导航*/
@import "home";
//header
body{
    font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
}
.navbar-static-top{
    border-color: #e7e7e7;
    background-color: #ffffff;
    box-shadow: 0 1px 11px 2px rgba(42,42,42,0.1);
    border-top: 4px solid #19CAAD ;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 40px;
    margin-top: 0;
}


//导航头像
.avatar{
    width: 40px;
    height: 40px;
    object-fit:cover;
}

//footer
html{
    position: relative;
    min-height: 100%;
}
body{

    //margin-bottom: 60px;
}
.footer{
    //position: absolute;
    //left: 0;
    //bottom: 0;
    position: relative;
    min-height: 60px;
    background-color: #000;


}
.footer-ab_b0{
    position: absolute;
    left: 0;
    bottom: 0;
}
.pad_bt0 {
    padding-top: 0;
    padding-bottom: 0;
}

/*注册页面*/
.register-page{
    img.captcha{
        cursor: pointer;
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 3px;
    }
}

/*话题页面*/
//.topic-index-page{
//    .topic-list{
//        .nav>li>a{
//            //position: relative;
//            //display: block;
//            //padding: 5px 14px;
//            //font-size: 0.9em;
//        }
//        a{
//            color: #444444;
//        }
//        .meta{
//            font-size: 0.9em;
//            color: #b3b3b3;
//            a{
//                color: #b3b3b3;
//            }
//        }
//
//        hr{
//            margin-top: 12px;
//            margin-bottom: 12px;
//            border: 0;
//            border-top: 1px solid #dcebf5;
//        }
//    }
//}
/**/
#app>div.container {
    margin-bottom: 100px;
}

/*simditor*/
.simditor-body img {
    width: auto;
    height: auto;
    max-width: 100%;
}

/*话题样式*/
@import "topic_body";


.topics-show-page {

    .card {
        padding: 15px;

        h1 {
            margin: 0.4em auto 0.6em;
            font-size: 28px;
            line-height: 38px;
        }
    }
}

.reply-list_label{
    font-size:12px;
    cursor: pointer;
    span{
        color: #b3b3b3;
    }
    a{
        color: #b3b3b3;
    }
}
.style-dashed {
    border-style: dashed;
}
.object-fit_cover{
    object-fit: cover;
}

//超行省略号
.topic-title{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

//登录login
.h-60vh
{
    height: 60vh;
}

.bg-login
{
    background: url("http://oss.mullore.com/Goodgirl.jpg")  no-repeat   ;
    background-position: 52% 30%!important;
    background-size: cover ;
}

.login-nav{
    border-bottom:0;
}
.opacity-card{
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

.bg-register{
    background: url("http://oss.mullore.com/summer.jpg")  no-repeat   ;
    background-position: 15% 30%!important;
    background-size: cover ;
}
.register-nav{

    border: 0;
    a{
        color: #ffffff!important;
    }
    a:hover{
        text-shadow: 0 0 5px #FF4500;
    }
}
